In [1]:
import pandas as pd
import numpy as np

# To import CSV files and check if they load correctly

In [2]:
ad = pd.read_csv('actual_duration.csv')
ad

,sub_icb_location_code,sub_icb_location_ons_code,sub_icb_location_name,icb_ons_code,region_ons_code,appointment_date,actual_duration,count_of_appointments
0,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,31-60 Minutes,364
1,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,21-30 Minutes,619
2,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,6-10 Minutes,1698
3,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,Unknown / Data Quality,1277
4,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,16-20 Minutes,730
...,...,...,...,...,...,...,...,...
137788,X2C4Y,E38000254,NHS West Yorkshire ICB - X2C4Y,E54000054,E40000012,30-Jun-22,31-60 Minutes,430
137789,X2C4Y,E38000254,NHS West Yorkshire ICB - X2C4Y,E54000054,E40000012,30-Jun-22,21-30 Minutes,751
137790,X2C4Y,E38000254,NHS West Yorkshire ICB - X2C4Y,E54000054,E40000012,30-Jun-22,16-20 Minutes,921
137791,X2C4Y,E38000254,NHS West Yorkshire ICB - X2C4Y,E54000054,E40000012,30-Jun-22,11-15 Minutes,1439
137792,X2C4Y,E38000254,NHS West Yorkshire ICB - X2C4Y,E54000054,E40000012,30-Jun-22,1-5 Minutes,1739

In [3]:
ar = pd.read_csv('appointments_regional.csv')
ar

,icb_ons_code,appointment_month,appointment_status,hcp_type,appointment_mode,time_between_book_and_appointment,count_of_appointments
0,E54000034,2020-01,Attended,GP,Face-to-Face,1 Day,8107
1,E54000034,2020-01,Attended,GP,Face-to-Face,15 to 21 Days,6791
2,E54000034,2020-01,Attended,GP,Face-to-Face,2 to 7 Days,20686
3,E54000034,2020-01,Attended,GP,Face-to-Face,22 to 28 Days,4268
4,E54000034,2020-01,Attended,GP,Face-to-Face,8 to 14 Days,11971
...,...,...,...,...,...,...,...
596816,E54000050,2022-06,Unknown,Unknown,Unknown,2 to 7 Days,21
596817,E54000050,2022-06,Unknown,Unknown,Unknown,22 to 28 Days,8
596818,E54000050,2022-06,Unknown,Unknown,Unknown,8 to 14 Days,28
596819,E54000050,2022-06,Unknown,Unknown,Unknown,More than 28 Days,17
596820,E54000050,2022-06,Unknown,Unknown,Unknown,Same Day,10

In [4]:
nc = pd.read_csv('national_categories.csv')
nc

,appointment_date,icb_ons_code,sub_icb_location_name,service_setting,context_type,national_category,count_of_appointments,appointment_month
0,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,Primary Care Network,Care Related Encounter,Patient contact during Care Home Round,3,2021-08
1,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,Other,Care Related Encounter,Planned Clinics,7,2021-08
2,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,General Practice,Care Related Encounter,Home Visit,79,2021-08
3,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,General Practice,Care Related Encounter,General Consultation Acute,725,2021-08
4,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,General Practice,Care Related Encounter,Structured Medication Review,2,2021-08
...,...,...,...,...,...,...,...,...
817389,2022-06-30,E54000054,NHS West Yorkshire ICB - X2C4Y,Extended Access Provision,Care Related Encounter,Unplanned Clinical Activity,12,2022-06
817390,2022-06-30,E54000054,NHS West Yorkshire ICB - X2C4Y,Extended Access Provision,Care Related Encounter,Planned Clinics,4,2022-06
817391,2022-06-30,E54000054,NHS West Yorkshire ICB - X2C4Y,Extended Access Provision,Care Related Encounter,Planned Clinical Procedure,92,2022-06
817392,2022-06-30,E54000054,NHS West Yorkshire ICB - X2C4Y,Extended Access Provision,Care Related Encounter,General Consultation Routine,4,2022-06
817393,2022-06-30,E54000054,NHS West Yorkshire ICB - X2C4Y,Extended Access Provision,Care Related Encounter,General Consultation Acute,19,2022-06

------To sense-check the DataFrames after importing them into Pandas------

 to show column names in the data files

In [5]:
# ad = actual_duration.csv data file
print(ad.columns)

Index(['sub_icb_location_code', 'sub_icb_location_ons_code',
       'sub_icb_location_name', 'icb_ons_code', 'region_ons_code',
       'appointment_date', 'actual_duration', 'count_of_appointments'],
      dtype='object')

In [6]:
# nc = national_category.csv data file
print(nc.columns)

Index(['appointment_date', 'icb_ons_code', 'sub_icb_location_name',
       'service_setting', 'context_type', 'national_category',
       'count_of_appointments', 'appointment_month'],
      dtype='object')

In [7]:
# ar = appointments_regional.csv data file
print(ar.columns)

Index(['icb_ons_code', 'appointment_month', 'appointment_status', 'hcp_type',
       'appointment_mode', 'time_between_book_and_appointment',
       'count_of_appointments'],
      dtype='object')

 to show the data types in the data files

In [8]:
# ar = appointments_regional.csv data file
ar.dtypes

icb_ons_code                         object
appointment_month                    object
appointment_status                   object
hcp_type                             object
appointment_mode                     object
time_between_book_and_appointment    object
count_of_appointments                 int64
dtype: object

In [9]:
# nc = national_category.csv data file
nc.dtypes

appointment_date         object
icb_ons_code             object
sub_icb_location_name    object
service_setting          object
context_type             object
national_category        object
count_of_appointments     int64
appointment_month        object
dtype: object

In [10]:
# actual_duration.csv data file
ad.dtypes

sub_icb_location_code        object
sub_icb_location_ons_code    object
sub_icb_location_name        object
icb_ons_code                 object
region_ons_code              object
appointment_date             object
actual_duration              object
count_of_appointments         int64
dtype: object

 check for missing values

In [11]:
ad_na = ad[ad.isna().any(axis=1)]
ad_na.shape

(0, 8)

In [12]:
ar_na = ar[ar.isna().any(axis=1)]
ar_na.shape

(0, 7)

In [13]:
nc_na = nc[nc.isna().any(axis=1)]
nc_na.shape

(0, 8)

to find out the number of columns and rows through metadata of file

In [14]:
# nc = national_category.csv data file
nc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 817394 entries, 0 to 817393
Data columns (total 8 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   appointment_date       817394 non-null  object
 1   icb_ons_code           817394 non-null  object
 2   sub_icb_location_name  817394 non-null  object
 3   service_setting        817394 non-null  object
 4   context_type           817394 non-null  object
 5   national_category      817394 non-null  object
 6   count_of_appointments  817394 non-null  int64
 7   appointment_month      817394 non-null  object
dtypes: int64(1), object(7)
memory usage: 49.9+ MB

In [15]:
# ad = actual_duration.csv data file
ad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137793 entries, 0 to 137792
Data columns (total 8 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   sub_icb_location_code      137793 non-null  object
 1   sub_icb_location_ons_code  137793 non-null  object
 2   sub_icb_location_name      137793 non-null  object
 3   icb_ons_code               137793 non-null  object
 4   region_ons_code            137793 non-null  object
 5   appointment_date           137793 non-null  object
 6   actual_duration            137793 non-null  object
 7   count_of_appointments      137793 non-null  int64
dtypes: int64(1), object(7)
memory usage: 8.4+ MB

In [16]:
# ar = appointments_regional.csv data file
ar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 596821 entries, 0 to 596820
Data columns (total 7 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   icb_ons_code                       596821 non-null  object
 1   appointment_month                  596821 non-null  object
 2   appointment_status                 596821 non-null  object
 3   hcp_type                           596821 non-null  object
 4   appointment_mode                   596821 non-null  object
 5   time_between_book_and_appointment  596821 non-null  object
 6   count_of_appointments              596821 non-null  int64
dtypes: int64(1), object(6)
memory usage: 31.9+ MB

Q1 How many locations are there in the data set?

1A] Total Number per location in the "actual_duration.csv" data file

In [17]:
ad['sub_icb_location_name'].value_counts()

NHS Norfolk and Waveney ICB - 26A                       1484
NHS Kent and Medway ICB - 91Q                           1484
NHS North West London ICB - W2U3Z                       1484
NHS Bedfordshire Luton and Milton Keynes ICB - M1J4Y    1484
NHS Greater Manchester ICB - 14L                        1484
                                                        ...
NHS Staffordshire and Stoke-on-Trent ICB - 05D          1051
NHS South Yorkshire ICB - 03L                           1028
NHS North East and North Cumbria ICB - 00P              1025
NHS South Yorkshire ICB - 02P                           1022
NHS Cheshire and Merseyside ICB - 01F                   1013
Name: sub_icb_location_name, Length: 106, dtype: int64

1B] total number of locations in the "actual_duration" data file.

In [18]:
ad_loc = ad['sub_icb_location_name'].value_counts()
print("The Total Number of Locations are: ", ad_loc.sum())

The Total Number of Locations are:  137793

2A] total number per locations in the "national_categories" data file.

In [51]:
nc['sub_icb_location_name'].value_counts()

NHS North West London ICB - W2U3Z              13007
NHS Kent and Medway ICB - 91Q                  12637
NHS Devon ICB - 15N                            12526
NHS Hampshire and Isle Of Wight ICB - D9Y0V    12171
NHS North East London ICB - A3A8R              11837
                                               ...
NHS North East and North Cumbria ICB - 00N      4210
NHS Lancashire and South Cumbria ICB - 02G      4169
NHS Cheshire and Merseyside ICB - 01V           3496
NHS Cheshire and Merseyside ICB - 01T           3242
NHS Greater Manchester ICB - 00V                2170
Name: sub_icb_location_name, Length: 106, dtype: int64

2B] total number of locations in the "national_categories" data file.

In [19]:
nc_loc = nc['sub_icb_location_name'].value_counts()
print("The Total Number of Locations is: ", nc_loc.sum())

The Total Number of Locations is:  817394

Q2 What are the five locations with the highest number of records?

In [21]:
n = 5
ad['sub_icb_location_name'].value_counts()[:5].index.tolist()

['NHS Norfolk and Waveney ICB - 26A',
 'NHS Kent and Medway ICB - 91Q',
 'NHS North West London ICB - W2U3Z',
 'NHS Bedfordshire Luton and Milton Keynes ICB - M1J4Y',
 'NHS Greater Manchester ICB - 14L']

Q3 How many service settings, context types, national categories, and appointment statuses are there?

1] The types and number of status in the dataset "appointments_regional"

In [22]:
# where DNA = Did Not Attend, Unknown = not recorded or data missing
ar['appointment_status'].value_counts()

Attended    232137
Unknown     201324
DNA         163360
Name: appointment_status, dtype: int64

In [23]:
# number of appointment statuses
ar_loc = ar['appointment_status'].value_counts()
print("The Total Number of appointment statuses are: ", ar_loc.sum())

The Total Number of appointment statuses are:  596821

2] The types and total number per setting in the dataset "national_category"

In [24]:
# to show number of times a service setting occurs in the file
nc['service_setting'].value_counts()

General Practice             359274
Primary Care Network         183790
Other                        138789
Extended Access Provision    108122
Unmapped                      27419
Name: service_setting, dtype: int64

In [25]:
# the total number of service settings in the data file
nc_loc = nc['service_setting'].value_counts()
print("The Total Number of service status in the file are: ", nc_loc.sum())

The Total Number of service status in the file are:  817394

3] The types of context of treatment and the corresponding numbers

In [26]:
 # nc = national_category.csv data file
# the number of ambiguous recordings are high
nc['context_type'].value_counts()

Care Related Encounter    700481
Inconsistent Mapping       89494
Unmapped                   27419
Name: context_type, dtype: int64

In [27]:
# the total number of service settings in the data file
nc_loc = nc['context_type'].value_counts()
print("The Total Number of context types in the file are: ", nc_loc.sum())

The Total Number of context types in the file are:  817394

4] The types of treatment and their total numbers

In [28]:
# nc = national_category.csv data file
nc['national_category'].value_counts()

Inconsistent Mapping                                                   89494
General Consultation Routine                                           89329
General Consultation Acute                                             84874
Planned Clinics                                                        76429
Clinical Triage                                                        74539
Planned Clinical Procedure                                             59631
Structured Medication Review                                           44467
Service provided by organisation external to the practice              43095
Home Visit                                                             41850
Unplanned Clinical Activity                                            40415
Patient contact during Care Home Round                                 28795
Unmapped                                                               27419
Care Home Visit                                                        26644
Social Prescribing Service                                             26492
Care Home Needs Assessment & Personalised Care and Support Planning    23505
Non-contractual chargeable work                                        20896
Walk-in                                                                14179
Group Consultation and Group Education                                  5341
Name: national_category, dtype: int64

In [29]:
# the total number of national categories in the data file
nc_loc = nc['national_category'].value_counts()
print("The Total Number of context types in the file are: ", nc_loc.sum())

The Total Number of context types in the file are:  817394

Week 3 Assignment

Q1 Between what dates were appointments scheduled ?

A1: The appointments were between 31st December, 2021 to 1st January, 2022

In [30]:
nc['appointment_date'] = pd.to_datetime(nc['appointment_date'])

In [31]:
nc['appointment_date'] = nc['appointment_date'].dt.strftime('%d-%m-%y')

In [32]:
nc1 = nc['appointment_date'].min()

In [33]:
print("The last date of Appointment was: ", nc1)

The last date of Appointment was:  01-01-22

In [34]:
nc1 = nc['appointment_date'].max()

In [35]:
print("The first date of Appointment was: ", nc1)

The first date of Appointment was:  31-12-21

Q2 Which service setting reported the most appointments in North West London from 1 January to 1 June 2022?

In [36]:
# created a subset of the original dataset for ease of analysis and to get relevant information only
nc_subset = nc[['appointment_date', 'sub_icb_location_name', 'service_setting', 'count_of_appointments']]

In [49]:
# This output gives the number of appointments pre month and per service setting 
# This output is only for NHS North West London ICB - W2U3Z
nc_subset.loc[(nc['appointment_date']>='01-01-22') & (nc_subset['appointment_date']<'01-06-22')
             & (nc_subset['sub_icb_location_name'] == 'NHS North West London ICB - W2U3Z')].value_counts()

appointment_date  sub_icb_location_name              service_setting       count_of_appointments
2021-08-31        NHS North West London ICB - W2U3Z  Other                 1                        3
2021-12-17        NHS North West London ICB - W2U3Z  Primary Care Network  1                        3
2022-01-03        NHS North West London ICB - W2U3Z  Other                 1                        3
2021-09-21        NHS North West London ICB - W2U3Z  Other                 4                        3
2021-12-22        NHS North West London ICB - W2U3Z  Other                 1                        3
                                                                                                   ..
2021-08-25        NHS North West London ICB - W2U3Z  Primary Care Network  14                       1
                                                                           4                        1
                                                                           1                        1
                                                     Other                 536                      1
2022-01-05        NHS North West London ICB - W2U3Z  Unmapped              682                      1
Length: 5918, dtype: int64

Q3 Which month had the highest number of appointments?

In [43]:
nc_subset['appointment_date'] = pd.to_datetime(nc_subset['appointment_date'])

C:\Users\srini\AppData\Local\Temp\ipykernel_14892\3654993688.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nc_subset['appointment_date'] = pd.to_datetime(nc_subset['appointment_date'])

In [44]:
ac2 = nc_subset.sort_values(['count_of_appointments'], ascending=False).groupby([nc_subset['appointment_date'].dt.year, 
                                nc_subset['appointment_date'].dt.month]).head()
print(ac2)

       appointment_date              sub_icb_location_name   service_setting  \
732144       2022-09-05  NHS North East London ICB - A3A8R  General Practice
732705       2022-05-23  NHS North East London ICB - A3A8R  General Practice
724735       2021-11-10  NHS North East London ICB - A3A8R  General Practice
724978       2021-10-18  NHS North East London ICB - A3A8R  General Practice
732446       2022-05-16  NHS North East London ICB - A3A8R  General Practice
...                 ...                                ...               ...
797995       2021-03-11  NHS North West London ICB - W2U3Z  General Practice
619806       2022-12-05    NHS South East London ICB - 72Q  General Practice
613813       2021-03-11    NHS South East London ICB - 72Q  General Practice
726648       2021-02-12  NHS North East London ICB - A3A8R  General Practice
799212       2021-03-12  NHS North West London ICB - W2U3Z  General Practice

        count_of_appointments
732144                  16590
732705                  16527
724735                  16495
724978                  16492
732446                  16412
...                       ...
797995                  13141
619806                  13048
613813                  12895
726648                  12895
799212                  12844

[120 rows x 4 columns]

Q4 What was the total number of records per month?

In [48]:
# This listing gives a glimpse of which months in the year had the highest number of records
# records are all the rows where information was recorded in a correct manner
nc['appointment_month'].value_counts(ascending=True)

2021-08    69999
2022-04    70012
2022-02    71769
2022-01    71896
2021-12    72651
2021-10    74078
2022-06    74168
2021-09    74922
2022-05    77425
2021-11    77652
2022-03    82822
Name: appointment_month, dtype: int64